---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
---

<Layout title="Carrito de compras" description="Revisa los productos que has agregado a tu lista. Aquí puedes ver las imágenes guardadas y gestionar tus elecciones.">
    <main class="flex-grow">
        <SectionContainer id="CarritoCompras" classname="w-full max-w-[768px] mx-auto mt-20 p-4 md:mt-16 lg:mt-14">
            <h1 class="text-2xl font-bold mb-4 text-center sm:text-left">Carrito</h1>
            <div id="saved-images" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <!-- Aquí muestra los productos seleccionados -->
            </div>
            <div class="flex justify-center mt-4">
                <button id="clear-storage" class="clear-storage hover:bg-[#3B82F6] text-gray-50 bg-[#1850b9] py-2 px-4 rounded-md transition duration-300 ease-in-out"> Confirmar </button>
            </div>
        </SectionContainer>
    </main>
</Layout>

<script type="module" src="../src/ts/cartActions.ts"></script>
