---
import Layout from "@layouts/Layout.astro";
import ContactCard from "@components/ContactCard.astro";
---

<Layout title="Contacto" description="Disfruta de las mejores pizzas hechas con ingredientes frescos y de calidad. En Pizza Galaxia, cada pizza es una delicia. Ven a probar nuestras especialidades en un ambiente acogedor o haz tu pedido en línea para disfrutar en casa. ¡La experiencia perfecta te espera!">
    <main class="flex flex-grow">
        <ContactCard />
    </main>
</Layout>
