---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Realiza tu pedido" description="Disfruta de las mejores pizzas hechas con ingredientes frescos y de calidad. En Pizza Galaxia, cada pizza es una delicia. Ven a probar nuestras especialidades en un ambiente acogedor o haz tu pedido en línea para disfrutar en casa. ¡La experiencia perfecta te espera!">
    <main>
        <h2>Realiza tu pedido</h2>
    </main>
</Layout>
