---
import SectionContainer from "@components/SectionContainer.astro";
---

<SectionContainer id="contact" classname="flex items-center justify-center pt-20 md:pt-16 px-4 sm:px-8 lg:px-16">
    <div class="relative w-full max-w-xl sm:max-w-2xl lg:max-w-3xl h-auto bg-gray-800 flex flex-col items-center justify-center rounded-lg shadow-lg p-6 sm:p-8 lg:p-10">
        <h5 class="mb-2 text-2xl font-bold uppercase">Pide a domicilio</h5>
        <p class="text-pretty">
            <span class="opacity-65"> Disfruta de nuestras deliciosas pizzas desde la comodidad de tu hogar. Realiza tu pedido llamando al </span><span class="opacity-100 font-semibold">(55) 783-148-3173</span><span class="opacity-65"> o visítanos en nuestra dirección:</span>
        </p>
        <p class="w-full text-pretty font-semibold mt-4">Fausto Vega #200 Col. Centro, Tuxpan, Veracruz</p>
        <p class="text-pretty mt-4">
            <span class="opacity-65">Síguenos en nuestra página de </span><span class="opacity-100 font-semibold">pizzasgalaxia_tx</span><span class="opacity-65"> para conocer nuestras promociones y novedades. ¡Te esperamos con los sabores más irresistibles!</span>
        </p>
    </div>
</SectionContainer>
