<footer class="w-full bg-white rounded-t-lg shadow mt-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center justify-center">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Pizza Galaxia. Ven a probar los sabores que transciende el universo.</span>
    </div>
</footer>
