---
import SectionContainer from "@components/SectionContainer.astro";
---

<SectionContainer id="Parallax" classname="flex items-center justify-center px-4 sm:px-8 lg:px-16">
    <div class="relative w-full max-w-[768px] h-[380px] overflow-hidden mt-8 flex items-center justify-center rounded-lg mx-auto">
        <div class="absolute inset-0 bg-fixed bg-cover bg-center bg-[url('/asset/galaxy.webp')]"></div>
    </div>
</SectionContainer>
