---
import SectionContainer from "@components/SectionContainer.astro";
---

<SectionContainer id="valores" classname="flex items-center justify-center mb-8 pt-8 px-4 sm:px-8 lg:px-16">
    <div class="relative w-full max-w-xl sm:max-w-2xl lg:max-w-3xl h-auto flex flex-col p-2 md:p-0">
        <h2 class="my-3 text-2xl font-bold uppercase">Nuestros valores</h2>
        <ul class="list-disc list-inside text-pretty space-y-3">
            <li>
                <p class="inline">
                    <span class="opacity-100 font-bold">Calidad:</span>
                    <span class="opacity-80">Utilizamos solo ingredientes frescos y de primera para garantizar una pizza deliciosa en cada bocado.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="opacity-100 font-bold">Innovación:</span>
                    <span class="opacity-80">Nos esforzamos por ser creativos en nuestro menú, explorando nuevas combinaciones y sabores.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="opacity-100 font-bold">Servicio:</span>
                    <span class="opacity-80">Ofrecemos un servicio amigable, rápido y personalizado, tratando a cada cliente como parte de la familia.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="opacity-100 font-bold">Compromiso:</span>
                    <span class="opacity-80">Estamos comprometidos con la sostenibilidad y la comunidad local, apoyando iniciativas que beneficien a nuestro entorno.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="opacity-100 font-bold">Diversión:</span>
                    <span class="opacity-80">Queremos que cada visita a "Pizza Galaxia" sea una experiencia divertida y memorable.</span>
                </p>
            </li>
        </ul>
    </div>
</SectionContainer>
