---
import SectionContainer from "@components/SectionContainer.astro";
---

<SectionContainer id="valores" classname="flex items-center justify-center px-4 pb-12 mt-8 md:mt-6 mx-4 sm:mx-8 lg:mx-16 mb-10">
    <div class="relative w-full max-w-xl sm:max-w-2xl lg:max-w-3xl h-auto flex flex-col p-2 md:p-0">
        <h2 class="my-3 text-2xl font-bold text-[#fff486] uppercase">Nuestros valores</h2>
        <ul class="list-disc list-inside text-pretty space-y-3">
            <li>
                <p class="inline">
                    <span class="text-[#fcfac3] font-medium">Calidad:</span>
                    <span class="text-slate-100">Utilizamos solo ingredientes frescos y de primera para garantizar una pizza deliciosa en cada bocado.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="text-[#fcfac3] font-medium">Innovación:</span>
                    <span class="text-slate-100">Nos esforzamos por ser creativos en nuestro menú, explorando nuevas combinaciones y sabores.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="text-[#fcfac3] font-medium">Servicio:</span>
                    <span class="text-slate-100">Ofrecemos un servicio amigable, rápido y personalizado, tratando a cada cliente como parte de la familia.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="text-[#fcfac3] font-medium">Compromiso:</span>
                    <span class="text-slate-100">Estamos comprometidos con la sostenibilidad y la comunidad local, apoyando iniciativas que beneficien a nuestro entorno.</span>
                </p>
            </li>
            <li>
                <p class="inline">
                    <span class="text-[#fcfac3] font-medium">Diversión:</span>
                    <span class="text-slate-100">Queremos que cada visita a "Pizza Galaxia" sea una experiencia divertida y memorable.</span>
                </p>
            </li>
        </ul>
    </div>
</SectionContainer>
