---
import SectionContainer from "@components/SectionContainer.astro";
---

<SectionContainer id="vision" classname="flex items-center justify-center pt-8 px-4 sm:px-8 lg:px-16">
    <div class="relative w-full max-w-xl sm:max-w-2xl lg:max-w-3xl h-auto flex flex-col p-2 md:p-0">
        <h2 class="my-3 text-2xl font-bold uppercase">Nuestra visión</h2>
        <p class="text-balance opacity-85">Convertirnos en la pizzería líder en la región, reconocida por nuestra creatividad culinaria, compromiso con la calidad y servicio al cliente inigualable. Buscamos expandir nuestra presencia a nivel nacional, estableciendo franquicias y llevando la magia de "Pizza Galaxia" a todos los rincones del país.</p>
    </div>
</SectionContainer>
