---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

import Background from "@components/Background.astro";
import Header from "@components/Header.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>{title}</title>
    </head>
    <body>
        <Background />
        <Header />
        <slot />
    </body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
        background: #0a0a0a;
        color-scheme: dark light;
    }
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        min-width: auto;
    }
</style>
